
#xprofile-condition-other-field{
    margin-left: 10px;
}
#xprofile-condition-operator{
    margin-left: 10px;
}
#xprofile-condition-other-field-value-container {
    display: inline-block;
    margin-left: 10px;
}